*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
}



body {
  font:normal normal 13px/1.4 Segoe,"Segoe UI",Calibri,Helmet,FreeSans,Sans-Serif;
  margin-bottom: 60px;
}

.hidden{
  opacity: 0;
}

#main_navbar{
  margin-bottom: 0px
}

.sw-hidden{
  display:none;
}
