*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
}



body {
  font:normal normal 13px/1.4 Segoe,"Segoe UI",Calibri,Helmet,FreeSans,Sans-Serif;
  margin-bottom: 60px;
}

.hidden{
  opacity: 0;
}

#main_navbar{
  margin-bottom: 0px
}

.sw-hidden{
  display:none;
}

.sw-menu-link {    
    cursor: pointer;    
}

.sw-menu-link:hover{
    border-left: rgb(218, 0, 114) 1px solid;
    cursor: pointer;
    background: rgba(0,0,0,0.1) !important;
}