.sw-tree-view{
    background: rgba(17,121,122,0.01) !important;
    border-left: rgba(0,0,0,0.1) 1px solid;
}

.sw-tree-view a:link {text-decoration: none}
.sw-tree-view a:visited {text-decoration: none}
.sw-tree-view a:active {text-decoration: none}
.sw-tree-view a:hover {text-decoration: none}

.sw-tree-view-selected {
    color:teal !important;
}
.sw-tree-view-over {
    //background-color: rgb(255, 244, 176) !important;
    border-left: teal 1px solid;
    cursor: pointer;
}

.sw-tree-view-deck{
    font-weight: bold;

}
.sw-tree-view-slide{
    margin-left: 15px !important;
}

.sw-tree-view .list {
    margin-left:0.5em;  //indentation 
    position:relative;
}

.sw-tree-view .list .list {margin-left:.3em}  //(indentation/2) 

.sw-tree-view .ui.label {
    
}

//.sw-tree-view,
/*.sw-tree-view ul {
    margin:0 0;
    padding:0;
    list-style:none;
}



*//*

.sw-tree-view ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid rgba(39, 41, 43, 0.35);
}




.sw-tree-view .icon.caret {
    margin : 0 0 0 -15px !important;
    z-index: 1000;
}

.sw-tree-view ul li:before {
    content:"";
    display:block;
    width:.5em;  same with indentation 
    height:0;
    border-top:1px solid rgba(39, 41, 43, 0.35);
    margin-top:-5px;  border top width 
    position:absolute;
    top:1em;  (line-height/2) 
    left:0;
}

.sw-tree-view ul li:last-child:before {
  background:white;  same with body background 
  height:auto;
  top:1em;  (line-height/2) 
  bottom:0;
}*/




